nav {
    width: 100%;
    height: 50px;
    display: grid;
    grid-template-columns: 50% 50%;
    background-color: white;
}
.logo {
    font-family: 'Righteous', cursive;
    text-decoration: none;
    color:#FF4040;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
    display: grid;
    align-items: center;
}
#nav-search:checked~.search{
    display: inline-block;
    position: absolute;
}
#nav-toggle, .burger-menu {
    display: none;
} 

