.page-title{
    font-size: 25px;
    text-transform: uppercase;
    color: #FF4040 ;
    font-weight: 700;
    text-align: center;
    margin-top: 30px;
}

.fav-post-page .post-item{
   width: 800px;
   margin: 0 auto;
   margin-top: 30px;
   grid-template-rows: 250px auto auto;

}
.fav-post-page .post-item .post-footer{
    justify-content: flex-end;
    padding: 15px;
}
