
.slider-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slider-item{
    height: 100%;
    position: relative;
}
.slider-item:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(180deg, rgba(255,255,255,0) 40%, rgb(0,0,0) 98%);  
    z-index: 1;
}
.slider-img{
    height: 100%;
    object-fit: cover;
}
.category-title{
    position: absolute;
    top: 60%;
    z-index: 3;
}
.slide-category{
    width: 90px;
    height: 35px;
    color: white;
    font-weight: 700;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FF4040;
    z-index: 2;
    margin-bottom: 10px;
    margin-left: 10px;
}
.slider-title-wrapper{
    padding: 5px 10px;
    width: 100%; 
}
.slider-title{
    color: white;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 25px;
}
.slick-slider, .slick-list, .slick-track{
    height: 100%;
}
.slick-slide>div{
    height: 100%;
}
.slick-prev, .slick-next{
    position: absolute;  
    top: 50%;        
    width: 60px;
    height: 100%;
    outline: none;
    opacity: .5;
    background-color: transparent;
    z-index: 2;
}
.slick-prev:hover, .slick-next:hover{
    opacity: .9;
}
.slick-prev{             
    left: 0;      
    transform: translate(0, -50%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.5) 0, rgba(0,0,0,0.0001) 100%);
}
.slick-next::before, .slick-prev::before{
    font-family: "ForkAwesome" !important;
    color: white;
    font-size: 40px;
}
.slick-prev::before{
    content: "\f104";
}
.slick-next{
    right: 0;      
    transform: translate(0, -50%);
    background-image: linear-gradient(to right, rgba(0,0,0,0.0001) 0, rgba(0,0,0,0.5) 100%);
}
.slick-next::before{
    content: "\f105"; 
}
