@media (min-width: 1500px){
    #grid {
        grid-template-columns:  1fr repeat(3, 500px) 1fr;
    }
    .container{
        width: 1500px;
        position: relative;
    }
    .popular-post{
        grid-template-rows: 150px;
    }
    #home-page, #category-page{
        grid-template-columns: 1fr repeat(3,minmax(0,500px)) 1fr;
    }
    #carousel .category-title .slider-title{
        font-size: 2rem;
        line-height: 50px;
    }
    #carousel .category-title .slide-category{
        width: 120px;
        height: 40px;
    }
    #carousel .category-title .category{
        font-size: 22px;
    }
} 
@media (max-width: 1200px){
    .container{
        width: 80%;
        position: relative;
    }
    #main .full-post{
        grid-template-areas: 
        "post";
        grid-template-columns: 100%;
    }
}
@media (max-width: 991px) {
    #grid {
        grid-template-areas:
            "header header"
            "main main"
            "footer footer";
        grid-template-rows: 60px auto auto;
        grid-template-columns: 60% 40%; 
        height: 100%;
        width: 100%;
        }
    .container{
        width: 100%;
        position: relative;
    }   
    #header nav{
        height: 60px;
    } 
    nav .burger-menu {
        display: inline-block;
        position: absolute;
        right: 0;
        cursor: pointer;
        color: #404250;
        position: absolute;
        top: 50%;                         
        transform: translate(0, -50%);
        right: 30px;
    }
    nav .logo{
        margin-left: 15px;
    }
    nav .main-menu {
        display: none;
    }
    nav .link-effect::after{
        display: none; 
    }
    nav .main-menu a:active,
    nav .main-menu a:focus{
        background-color: rgb(211, 211, 211);
    }
    nav #nav-toggle{
        display: none;
    }
    #nav-toggle:checked ~.main-menu {
        display: grid;
        z-index: 5;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: 100%;
        width: 50%;
        position: absolute;
        top: 100%;
        right: 0;
    }
    nav .main-menu .nav-item{
        padding: 15px;
        background-color: #F8F8F8;
    }
    .likes-counter{
        text-align: end;
        width: 100%;
    }
    .slider-item .category-title{
        top: 55%;
    }
    .popular-post{
        grid-template-rows: 100px;
    }
    #footer {
        grid-template-areas:
        "social newsletter contacts";
        grid-template-rows: 1fr;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 100px;
    }
    .newsletter-wrapper, .social-wrapper, .contacts-wrapper{
        justify-content: start;
    }
    .newsletter-wrapper input, button{
        margin-bottom: 15px;
    }
    #footer>.logo{
        margin-left: 0;
    }
    #social{
        justify-content: start;
    }
} 
@media (max-width: 768px) { 
    #grid {
        grid-template-areas:
            "header"
            "main"
            "footer";
        grid-template-rows: 60px auto auto;
        grid-template-columns: 100%; 
        height: 100%;
    }
    nav{
        grid-template-columns: auto 1fr;
        grid-template-rows: 60px;
    }
    #nav-toggle:checked ~.main-menu{
        width: 100%;
    }
    .slider-title{
        margin: 0 15px 15px 15px;
    }
    .category-title>.slide-category{
        margin-left: 25px;
    }
    .container{
        width: 100%;
        position: relative;
    }
    #home-page{
        grid-template-areas:
        "carousel carousel" 
        "posts-area  posts-area"
        "sidebar sidebar";
        grid-template-columns: 1fr;
        grid-template-rows: 40vh auto;
    }
    #home-page #posts-area{
        padding-right: 0;
    }
    .post-item .post-footer{
        padding: 15px;
    }
    #sidebar{
        padding-top: 0;
    }
    #sidebar .popular-post{
        margin: 15px;
        grid-template-columns: 30% 70%;
        grid-template-rows: 120px;
    }
    .popular-posts-header{
        margin-left: 10px;
        margin-right: 10px;
    }
    #sidebar .popular-post-body{
        padding-right: 0;
    }
    .popular-post-body>h5{
        font-size: 1.3rem;
    }
    .popular-post-body>.appearing-link{
        display: none;
    }
    .popular-post .state-link{
        display: block;
        text-decoration: none;
        color: #FF4040;
        text-align: end; 
        align-self: end;
    }
    .popular-post .state-link>i{
        margin-left: 5px;
    }
    .random-post-wrap{
        padding: 0 15px;
    }
    .newsletter-wrapper{
        row-gap: 15px;
    }
    .newsletter-wrapper h2{
        text-align: center;
    }
    #footer {
        grid-template-areas:
        "newsletter"
        "social"
        "contacts";
        grid-template-rows: repeat(3, auto);
        grid-template-columns: 1fr;
        justify-items: center;
        row-gap: 30px;
    }
    #footer .logo{
        margin-left: 0;
    }
    .contacts-wrapper h2{
        text-align: center;
    }
}





 


