@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');
@import url('https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css');

*{
    box-sizing: border-box;
}
html {
    overflow-x: hidden;
}
body {
    font-family: 'Nunito Sans', sans-serif;
    width: 100%;
}
#grid{
    display: grid;
    grid-template-areas:
        "header header header header header"
        "carousel carousel carousel carousel carousel"
        ". main main sidebar ."
        "footer footer footer footer footer";
    grid-template-rows: 50px 350px 1fr 200px;
    grid-template-columns: 1fr repeat(3, minmax(0,400px)) 1fr;
}
#header {
    grid-area: header;
    background-color: white;
    z-index: 5;
}
#carousel{
    grid-area: carousel;
}
#main {
    grid-area: main;
    background-color: #F8F8F8;
    padding-right: 15px;
}
#sidebar {
    grid-area: sidebar;
    padding: 30px 0 0 0;
    background-color: #F8F8F8;
}
#footer {
    grid-area: footer;
    display: grid;
    grid-template-areas: 
    "newsletter social contacts";
    grid-template-columns: repeat(3, 33.3%);
    background-color: #404250;
    padding: 30px;
}
#logo{
    grid-area: logo;
}
#newsletter{
    grid-area: newsletter;
}
#social{
    grid-area: social;
}
#contacts{
    grid-area: contacts;  
}
.container {
    width: 1200px;
    margin: 0 auto;
}
.category{
    width: 90px;
    height: 35px;
    bottom: 25%;
    color: white;
    outline: none;
    border: 0;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    background-color: #FF4040;
    z-index: 2;
    cursor: pointer;
}