.grid{
    display: grid;
    grid-template-areas:
        "header header header header header"
        "carousel carousel carousel carousel carousel"
        ". main main sidebar ."
        "footer footer footer footer footer";
    grid-template-rows: 60px 55vh 1fr 200px;
    grid-template-columns: 1fr repeat(3, 400px) 1fr;
}