.full-post{
    display: grid;
    grid-template-areas: 
    ". post ."
    ". popular-posts .";
    grid-template-columns: 1fr 1200px 1fr;
}

.full-post>.post-item{
    grid-area: post;
    margin-top: 0;
    display: grid;
    grid-template-areas: 
    "image"
    "content";
    grid-template-rows: 350px auto;
}
.post-item .text-content{
    text-align: start;
}
.post-body>.text-content>p{
    margin-bottom: 15px;
}
.title{
    font-size: 2.3rem;
    color: #404250;
    font-weight: 700;
    margin-top: 20px;
    margin-left: 20px;
}
.full-post>.post-item > .post-body>.info{
    text-align: start;
    margin: 20px 10px;
    opacity: .7;
}
.text-bold{
    font-weight: 700;
}
.content-img{
    width: 50%;
    height: 100%;
}
.content-img-simple{
    width: 70%;
    margin-left: 20px;
}
.content-img-wide{
    width: 100%;
}
.content-title{
    font-size: 1.3rem;
    font-weight: 700;
    margin-bottom: .5rem;
    margin-left: 20px;
}
.img-wrap{
    margin-left: 20px;
    margin-right: 20px;
    height: 350px;
}
.full-post .text-content{
    margin: 0;
}
.text-content>p{
    margin: 10px 20px;
}